.panel{
	border-radius:0;
/* 	border-bottom: 1px dashed #000000; */
	border:none;
	margin-bottom:0;
}
*{
	padding:0;
	margin:0;
}

.panel-body{
	padding:0;
}
.x-col,.x-list,.x-row,.x-label-edit,p,.x-titlebar .x-titlebar-title,.x-titlebar-left,.x-titlebar-right,.btn-link,h5,h1,h2,h3,h4,h6{
	padding:0;
	margin:0;
}
.bottom-fixed{
	width:100%;
    position: fixed;
    bottom: 0px;
    z-index: 5;
    padding:0.16rem 0.3rem;
    background-color:white;
}
input[placeholder]{
	font-size:0.26rem;
}

.panel.cjiEFzy{
	border-radius:5px;
}
html{
	font-size:50px;
}
div{
	font-size:0.3rem;
}
.panel{
	box-shadow: 0 1px 2px rgb(255, 255, 255);
}
img{
	width:100%
}