
.x-titlebar{border-bottom:1px solid #eee;z-index:5;}
.btn-default{border:1px solid #ff3226;color:#fff;background-color:#ff3226;}
.x-radio input[type="radio"]:checked + label:before, .x-checkbox input[type="checkbox"]:checked + label:before{background-color:#FC4C59;border:transparent;}
.x-label-edit{background-color:white}
.text-orange.cAJZnqy{
	color:#989898;
}
.form-control:focus{
	border-color:#fff;
	box-shadow:none;
}
.form-control{
	border-color:#fff;
	box-shadow:none;
}