/* .x-modal-button{ */
/* 	border :none; */
/* } */
/* .x-modal-buttons{ */
/* 	border :none; */
/* } */
/*这是在设计界面看效果的*/
html{
	font-size:50px;
}
.ts{
	position: absolute;
    right: 0px;
    top: 0px;
    z-index: 10;
    background-color: #FF5000;
    height: 0.1rem;
    width: 0.1rem;
    border-radius: 100%;
    color: white;
    text-align: center;
}

.panel{
	box-shadow:none;
	margin:0;
}
html{
	font-size:50px;
}
/*规范去各种边框*/
.x-col,.x-list,.x-row,.x-label-edit,p,.x-titlebar .x-titlebar-title,.x-titlebar-left,.x-titlebar-right,.btn-link,p,h1,h2,h3,h4,h5,h6{
	padding:0;
	margin:0;
}
.form-control{
	height:auto;
	padding:0;
}

.x-panel.pcviMVZb-iosstatusbar >.x-panel-content,.x-panel .x-panel-content{
    bottom: 0.98rem;
}

.x-panel-bottom{
	height:0.98rem;
}
.x-card.btn-group .btn, .x-card.btn-group .btn:active, .x-card.btn-group .btn:focus{
	height:0.8rem;
	border:none;
}
.bottomFont{
	color:#7bc83e !important;
}