.x-titlebar{
	background-color: white;
	color:#989898;
}
input[type="radio"] {
  margin: 3px 3px 0px 5px;
  display: none;
}

.x-radio input[type="radio"] + label:before{
	width:20px;
	height:20px;	
}

.x-radio input[type="radio"]:checked + label:before, .x-checkbox input[type="checkbox"]:checked + label:before{
  padding-left: 20px;
  cursor: pointer;
  background-size:20px 20px;
  border:none;
  background: url('../img/user/right.png') no-repeat;
  background-position:-4px -4px;
}
.x-titlebar .x-titlebar-title{
	font-weight: normal;
}
.panel{
	box-shadow: 0 1px 2px rgba(224, 0, 0, 0);
}
.nochoose{
	background-color: #fafafa;
    border: 1px solid #cacece;
    border-radius: 50px;
    display: inline-block;
    width: 0.4rem;
    height: 0.4rem;
  /*   margin-top:10px; */
}

html{
	font-size:50px;
}
.x-col,.x-list,.x-row,.x-label-edit,p,.x-titlebar .x-titlebar-title,.x-titlebar-left,.x-titlebar-right,.btn-link,p,h1,h2,h3,h4,h5,h6{
	padding:0;
	margin:0;
}
.form-control{
	padding:0;
}
