html{
	font-size:50px;
}
.x-col,.x-list,.x-row,.x-label-edit,p,.x-titlebar .x-titlebar-title,.x-titlebar-left,.x-titlebar-right,.btn-link,p,h1,h2,h3,h4,h5,h6{
	padding:0;
	margin:0;
}
.form-control{
	height:auto;
	padding:0;
}
