.x-titlebar{
	background-color: white;
	color:#989898;
}
input[type="radio"] {
  margin: 3px 3px 0px 5px;
  display: none;
}

.x-radio input[type="radio"] + label:before{
	width:20px;
	height:20px;	
}

.x-radio input[type="radio"]:checked + label:before, .x-checkbox input[type="checkbox"]:checked + label:before{
  padding-left: 20px;
  cursor: pointer;
  background-size:20px 20px;
  border:none;
  background: url('../img/user/right.png') no-repeat;
  background-position:-4px -4px;
}
.x-titlebar .x-titlebar-title{
	font-weight: normal;
}
.panel{
	box-shadow: 0 1px 2px rgba(224, 0, 0, 0);
}
.titleyh{
	margin-top:15px;  
}
.iosifra{top:20px;z-index: 10;display:block;position:absolute;background-color:white;height:600px}    
.andifra{top:0px;z-index: 10;display:block;position:absolute;background-color:white;height:600px}